.landing .logo, .chat .logo {
     background:url(../images/logo.png) center no-repeat;
     height:94px;
}

.landing.container, .chat.container {width:100%; padding:0;}
.chat.container .container {width:100%;}
.landing .row, .chat .row {margin:0;}
.landing-page-row {
     padding:25px 0;
     border-top:1px solid #ccc;
     border-bottom:1px solid #ccc;
     font-size:20px;
}
.landing-page-row i:first-child {
     float:left;
     font-size:30px;
     margin:0 15px 0 15px;
}

.landing-page-row i:last-child {
     float:right;
     font-size:40px;
     margin-right:15px;
     margin-top:-10px;
}

.chat a.back-btn {
     position:absolute;
     left:16px;
     top:25px;
     padding:6px 10px;
     border:1px solid black;
     border-radius:4px;
}

.chat a.back-btn i {margin-right:5px;}
#chatform input {width:100%; text-transform:capitalize;}

h3.text-muted {display:none;}
.chat .nav {display:none;}

@media screen and (max-width:600px){
     .chat .logo {background:url(../images/logo.png) right no-repeat;}
}

.ms-preload {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #eee;
     z-index: 50000;
     height: 100%;
     width: 100%
}

.preloader-img-div {
}

.preloader-image {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 30%;
    right: 0;
    display: inline-block;
    text-align: center;
}

.spinner {
     width: 60px;
     height: 60px;
     margin: auto;
     position: absolute;
     top: 10%;
     left: 0;
     bottom: 0;
     right: 0;
     text-align: center;
     -webkit-animation: sk-rotate 2.0s infinite linear;
     animation: sk-rotate 2.0s infinite linear
}

.dot1, .dot2 {
     width: 60%;
     height: 60%;
     display: inline-block;
     position: absolute;
     top: 0;
     background-color: #00648b;
     border-radius: 100%;
     -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
     animation: sk-bounce 2.0s infinite ease-in-out
}

.dot2 {
     top: auto;
     bottom: 0;
     -webkit-animation-delay: -1.0s;
     animation-delay: -1.0s
}

@-webkit-keyframes sk-rotate {
     100% {
          -webkit-transform: rotate(360deg)
     }
}

@keyframes sk-rotate {
     100% {
          transform: rotate(360deg);
          -webkit-transform: rotate(360deg)
     }
}

@-webkit-keyframes sk-bounce {
     0%, 100% {
          -webkit-transform: scale(0)
     }
     50% {
          -webkit-transform: scale(1)
     }
}

@keyframes sk-bounce {
     0%, 100% {
          transform: scale(0);
          -webkit-transform: scale(0)
     }
     50% {
          transform: scale(1);
          -webkit-transform: scale(1)
     }
}