.landing .logo {
     background:url(../images/logo.png) center no-repeat;
     height:94px;
}

.landing .container {width:100%; padding:0;}
.landing .row {margin:0;}
.landing-page-row {
     padding:25px 0;
     border-top:1px solid #ccc;
     border-bottom:1px solid #ccc;
     font-size:20px;
}
.landing-page-row i:first-child {
     float:left;
     font-size:30px;
     margin:0 15px 0 15px;
}

.landing-page-row i:last-child {
     float:left;
     font-size:30px;
     margin-right:15px;
     margin-top:-10px;
}
